@import './Flex/style.module.scss';
@import './Grid/style.module.scss';

@mixin display {
  &.flex {
    @include flex;
    &.column {
      @include flex-column;
    }
    &.row {
      @include flex-row;
    }
    &.column-reverse {
      @include flex-column-reverse;
    }
    &.row-reverse {
      @include flex-row-reverse;
    }
  }
  &.grid {
    @include grid;
  }
}

@mixin center-vertical {
  align-items: center;
  -webkit-box-align: center;
}

@mixin center-horizontal {
  justify-content: center;
  -webkit-box-pack: center;
}

@mixin position-center {
  &.center-vertical {
    @include center-vertical;
  }
  &.center-horizontal {
    @include center-horizontal;
  }
}
