@mixin flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-column {
  flex-direction: column;
  -ms-flex-direction: column;
}

@mixin flex-column-reverse {
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
}

@mixin flex-row {
  flex-direction: row;
  -ms-flex-direction: row;
}

@mixin flex-row-reverse {
  flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

.flex {
  @include flex;
  &.column {
    @include flex-column;
  }
  &.column-reverse {
    @include flex-column-reverse;
  }
  &.row {
    @include flex-row;
  }
  &.row-reverse {
    @include flex-row-reverse;
  }
}
